
//     w e b s i t e     b a c k g r o u n d

@keyframes grain
  0%
    background-position:    0px 0
  100%
    background-position: -7000px 0



//     t e x t     e f f e c t

@keyframes glitch
  0%
    -webkit-transform: translate(0)
    transform: translate(0)
  20%
    -webkit-transform: translate(-2px, 2px)
    transform: translate(-2px, 2px)
  40%
    -webkit-transform: translate(-2px, -2px)
    transform: translate(-2px, -2px)
  60%
    -webkit-transform: translate(2px, 2px)
    transform: translate(2px, 2px)
  80%
    -webkit-transform: translate(2px, -2px)
    transform: translate(2px, -2px)
  to
    -webkit-transform: translate(0)
    transform: translate(0)