form
  position: relative
  padding: 30px
  &.contact-form
    background: $red
  .input-field
    position: relative
    margin: 20px 0
    border: 1px solid white
    input, textarea, select
      font-size: 16px
      color: white
      display: block
      padding: 10px 20px
      width: 100%
      border: none
      outline: none
      background-color: transparent
      &:focus
        outline: none
  .smaller
    color: $grey900
    span
      position: absolute
      width: 36px
      height: 36px
      top: -4px
      left: -34px
      svg
        fill: $grey900

.irka
  margin: 200px