nav
  position: fixed
  width: 100%
  z-index: 1
  +transition-property(transform)
  +transition-duration(1s)
  +translate(0,-100%)
  z-index: 11
  &.scrolled, &.visible
    +translate(0,0)
  &.scrolled
    background: linear-gradient(to bottom, rgba($dark,0.7), transparent)
    .right-part
      .contact-phone
        opacity: 1
        pointer-events: initial
      .reserve-btn
        opacity: 1
        pointer-events: initial
  .logo
    display: inline-block
    width: 120px
    margin: 30px
    cursor: pointer
    svg
      width: 100%
    @media #{$small-only}
      margin: 10px
  .right-part
    position: absolute
    top: 20px
    right: 20px
    @media #{$small-only}
      top: 10px
      right: 0
    li
      position: relative
      display: inline-block
      margin-right: 10px
      vertical-align: middle
      &:last-child
        @media #{$small-only}
          // display: none
    .contact-phone
      opacity: 0
      pointer-events: none
      +transition(opacity .25s)
      letter-spacing: 5px
      +transition(.25s)
      span
        color: $red
        margin-right: 5px
      &:hover
        color: $red
      @media #{$small-only}
        display: none
    .reserve-btn
      width: initial
      opacity: 0
      pointer-events: none
      +transition(opacity .25s)
      @media #{$small-only}
        p
          display: none
      @media #{$medium-up}
        svg
          display: none
    .toggle-language
      p
        position: relative
        left: -2px