body
  font-family: 'Anonymous Pro', monospace
  color: white
  background: url(#{asset_path('photo/background-noise.jpg')})
  animation: grain 1s steps(21) infinite
  opacity: 1
  &:before
    content: ''
    display: block
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.15
    background: url(#{asset_path('photo/background-lines.png')})
  &:after
    content: ''
    display: block
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: 0.25
    background-image: radial-gradient(ellipse at center, #183573, #141530 70%)
    z-index: -1
  &.hidden
    overflow: hidden

@each $header, $font-size in (h1: 28px, h2: 24px, h3: 22px, h4: 20px, h5: 18px, h6: 16px)
  #{$header}, .#{$header}
    font-size: $font-size

.small
  font-size: 0.75rem
.smaller
  font-size: 0.875rem
.regular
  font-size: 1rem
.larger
  font-size: 1.125rem
.large
  font-size: 1.25rem
.centered
  text-align: center